{% extends "layouts/base.html" %} <!-- Extending the base layout -->

{% load static %}

{% block title %} My First Index HTML Page {% endblock title %}

{% block content %}
    <div>
        <div class="topnav"> <!-- add class attribute -->
          <a class="active" href="{% url 'books.index' %}">Home</a>
          <a href="{% url 'books.list_books' %}">List Books</a>
          <a href="{% url 'books.aboutus' %}">About</a>
        </div>
       
        <h1 style="color: blue;">This is heading 1 (Library)</h1> <!-- add inline css -->
        <p style="color: white;background-color: black;">This is a paragraph text </p> 
        <a href="https://www.w3schools.com/html/default.asp">Learn more about HTML</a>
        <hr>
        
        <!-- This is a comment in HTML, not rendered in the browser -->
        <h2>This is heading 2</h2> 
        <p>This is some other text. <br> with newline <br> and another line</p>
        <hr>
        
        <h2>This is heading 2</h2>
        <p>This is some other text.</p>
    </div>
{% endblock content %}
