{% extends "layouts/base.html" %} <!-- Extend the base template -->

{% load static %}

{% block title %} About Us {% endblock title %}

{% block content %}
  <style>  /* Internal CSS */
    h1 {
      color: green;
    }
 
    h2 {
      color: lightskyblue;
    }
 
    p {
      font-family: verdana;
      font-size: 20px;
    }
  </style>

  <div class="topnav"> <!-- Navigation menu -->
      <a href="{% url "books.index" %}">Home</a>
      <a href="{% url "books.list_books" %}">List Books</a>
      <a class="active" href="{% url 'books.aboutus' %}">About</a>
  </div>

  <h1>About Us</h1>
  <p>This is a paragraph text. This is a paragraph text. This is a paragraph text. This is a paragraph text.</p>

  <p>To write to <a href="mailto:email@domain.com">our store</a>, click the link and your default email client will open an email message addressed to us.</p>
{% endblock content %}

